:root {
  /* --tp-base-background-color: hsla(197, 95%, 47%, 0.80); */
  --tp-base-background-color: rgba(120, 120, 120, 0.8); 
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 100%, 1.00);
  --tp-button-background-color-active: hsla(0, 0%, 85%, 1.00);
  --tp-button-background-color-focus: hsla(0, 0%, 90%, 1.00);
  --tp-button-background-color-hover: hsla(0, 0%, 95%, 1.00);
  --tp-button-foreground-color: hsla(230, 20%, 11%, 1.00);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.20);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.35);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.30);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.25);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.90);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.50);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.50);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.65);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.60);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.55);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.90);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.90);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.50);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.50);
}

#logo{
    position: absolute;
    margin-top: 10px;
    z-index:2;
  }
  
  .p1 {
    font-family: 'CenturyGothicPro-Bold';
    position: absolute;
    font-size: 14px;
    left: 5px;   /* position inside relatively positioned parent */
    top: 350px;
    z-index: 10; 
  }
  
  #guiplace{
    font-size: 55px;
    position: absolute;
    left: 1px;   /* position inside relatively positioned parent */
    top: 160px;
    z-index: 50; 
    width: 261px;
  }
  
  #legendPlace{
    position: absolute;
    right: 2px;   /* position inside relatively positioned parent */
    bottom: 2px;
    z-index: 50; 
  }
  
  .dropbtn {
    background-color: #4caf4f00;
    color: rgba(255, 255, 255, 0);
    padding: 3px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: absolute;
    display: inline-block;
    bottom: 315px;
    right: 85px;
    z-index: 300;
  }

  .openbutton {
    position: absolute;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    left: 0px;
    top: 133px;
    z-index: 300; 
    cursor:pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 25px;
    top: 8px;
    background-color: #f9f9f900;
    min-width: 90px;
    max-width: 90px;
    z-index: 1;
  }

  .openbutton-content {
    display: none;
    position: absolute;
    left: 25px;
    top: 10px;
    background-color: #f9f9f900;
    min-width: 90px;
    max-width: 90px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    padding: auto;
    display: block;
  }

    
  .openbutton-content a {
    color: black;
    text-decoration: none;
    padding: auto;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f100}
  .openbutton-content a:hover {background-color: #f1f1f100}

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .openbutton:hover .openbutton-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e4100;
  }
  
  .openbutton:hover .dropbtn {
    background-color: #3e8e4100;
  }
  



  body {
    font-family: 'Lato', sans-serif;
  }
