#box {
      
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
}

/* #logo {
    padding: 10px ;
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-size: 10px;
}

.centerblock{ 
    background-color: rgb(0, 0, 0) ;
    padding-top: 100px; 
    height: 30px; 
    width: 100px;
} 
 
.square{ 
    color: #fff; 
    font-family: Century, Helvetica, sans-serif, monospace;

}  */

